/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */
/* Settings */
#betterweb-injected-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 999999999999;
}

#betterweb-injected-banner-content {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #16366b;
}
