/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */

/* RGB */
$text: rgba(0, 0, 0, 1);
$heading1: rgba(22, 54, 107, 1);
$bg1: rgba(211, 201, 201, 1);
$heading2: rgba(221, 181, 32, 1);
$bg2: rgba(255, 255, 255, 1);