/* To transpile to css, run
sass inject.scss inject.css --no-source-map --watch
*/

@import '../shared/scss/colorscheme.scss';

#betterweb-injected-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg2;
    width: 100%;
    z-index: 999999999999;
}
#betterweb-injected-banner-content {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid $heading1;
}

#betterweb-injected-banner-heading {
    
}