/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(217%, 66%, 25%, 1);
$color3: hsla(0%, 10%, 81%, 1);
$color4: hsla(47%, 75%, 50%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(22, 54, 107, 1);
$color3: rgba(211, 201, 201, 1);
$color4: rgba(221, 181, 32, 1);
$color5: rgba(255, 255, 255, 1);