/* To transpile to css, run
sass scss/page.scss css/page.css --no-source-map --watch
*/
/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */
/* Settings */
@font-face {
  font-family: modern;
  src: url("../../shared/fonts/majormonodisplay.ttf");
}
@font-face {
  font-family: quicksand;
  src: url("../../shared/fonts/quicksand.ttf");
}
html {
  text-align: center;
  background-color: #d3c9c9;
  overflow: auto;
}

body {
  margin: 0 10%;
  padding-top: 4%;
}

.title {
  color: #16366b;
  font-size: 50px;
  margin-bottom: 5%;
}

h1 {
  font-family: modern;
}

p, button {
  font: 20px quicksand;
  color: black;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }

  .setting h1 {
    font-size: 25px;
  }
}
.info {
  border-color: #ddb520;
  border-style: solid;
  border-radius: 25px 25px 0 0;
  border-width: 2px 2px 0 2px;
  padding: 5%;
  background-color: #c1d3f2;
  text-align: left;
  display: flex;
}
.info img {
  width: 15%;
  height: 15%;
}
.info p {
  margin: 1% 0 0 3%;
  padding: 0;
}

.settings_container {
  border-color: #ddb520;
  border-style: solid;
  border-radius: 0 0 25px 25px;
  border-width: 0 2px 2px 2px;
  background-color: white;
  text-align: left;
  padding: 5% 5% 15% 5%;
  margin-bottom: 75px;
}
.settings_container .setting {
  padding: 6px 0 16px 54px;
  border-radius: 25px;
  border: 1px solid lightGrey;
}
.settings_container .setting h1 {
  color: #ddb520;
  font-size: 30px;
}
.settings_container .setting p {
  margin: auto 0;
}
.settings_container .setting button {
  border-color: #ddb520;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: white;
  font-size: 20px;
  margin-left: 5px;
}
.settings_container .setting .checkbox {
  transition: border-color 0.5s ease-in-out, color 0.5s;
  background-color: white;
  border-width: 1.5px;
}
.settings_container .setting .checkbox[state=true] {
  transition: background-color 0.5s, border-color 0.375s, color 0.375s ease-out;
  border-color: green;
  color: green;
}
.settings_container .setting .checkbox[state=true]:hover {
  background-color: green;
  border-color: white;
  color: white;
}
.settings_container .setting .checkbox[state=true]::before {
  content: "Enabled";
}
.settings_container .setting .checkbox[state=false] {
  transition: background-color 0.5s, border-color 0.375s, color 0.375s ease-out;
  border-color: red;
  color: red;
}
.settings_container .setting .checkbox[state=false]:hover {
  background-color: red;
  border-color: white;
  color: white;
}
.settings_container .setting .checkbox[state=false]::before {
  content: "Disabled";
}
.settings_container .apply {
  border-color: #ddb520;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  transition: background-color 0.3s, border-color 0.225s, color 0.225s ease-out;
  margin: 3% 0 1% 54px;
  background-color: white;
  font-size: 25px;
  padding: 3px 15px;
  color: #ddb520;
}
.settings_container .apply:hover {
  background-color: #ddb520;
  border-color: white;
  color: white;
}
