/* To transpile to css, run
sass scss/page.scss css/page.css --no-source-map --watch
*/
/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */
/* RGB */
@font-face {
  font-family: modern;
  src: url("../fonts/majormonodisplay.ttf");
}
@font-face {
  font-family: quicksand;
  src: url("../fonts/quicksand.ttf");
}
html {
  text-align: center;
  background-color: #d3c9c9;
  overflow: auto;
}

body {
  margin: 0 10%;
  padding-top: 4%;
}

.title {
  color: #16366b;
  font-size: 50px;
  margin-bottom: 5%;
}

h1 {
  font-family: modern;
}

p {
  font: 20px quicksand;
  color: black;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }
}
@media screen and (min-width: 2000px) {
  body {
    margin: 0 200px;
  }
}
.info {
  border-color: #ddb520;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  padding: 5%;
  background-color: #c1d3f2;
  border-radius: 25px 25px 0 0;
  text-align: left;
  display: flex;
}
.info img {
  width: 15%;
  height: 15%;
}
.info p {
  margin: 1% 0 0 3%;
  padding: 0;
}

.settings_container {
  border-color: #ddb520;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  background-color: white;
  border-radius: 0 0 25px 25px;
  text-align: left;
  padding: 5% 5% 15% 5%;
  margin-bottom: 75px;
}
.settings_container .setting {
  margin-left: 50px;
}
.settings_container .setting h1 {
  color: #ddb520;
  font-size: 30px;
}
.settings_container .setting p {
  margin: 4px 0;
}
