/* To transpile to css, run
sass scss/page.scss css/page.css --no-source-map --watch
*/

@import '../../shared/scss/colorscheme.scss';

@font-face {
    font-family: modern;
    src: url('../../shared/fonts/majormonodisplay.ttf')
}

@font-face {
    font-family: quicksand;
    src: url('../../shared/fonts/quicksand.ttf')
}

#mainPopup {
    padding: 10px;
    height: 200px;
    width: 400px;
}

h1 {
    font-size: 2em;
    font-family: modern;
}

p {
    font-family: quicksand;
}