/* To transpile to css, run
sass scss/page.scss css/page.css --no-source-map --watch
*/

@import '../../shared/scss/colorscheme.scss';
@import '../../shared/scss/general.scss';
@font-face {
    font-family: modern;
    src: url('../../shared/fonts/majormonodisplay.ttf')
}

@font-face {
    font-family: quicksand;
    src: url('../../shared/fonts/quicksand.ttf')
}

body {
    p,
    div {
        font-family: quicksand;
        color: $text;
        font-size: 1em;
    }
}


/* For default popup */

#defaultPopup {
    padding: 10px;
    height: 200px;
    width: 400px;
    h1 {
        font-size: 2em;
        font-family: modern;
        color: $heading1;
    }
}


/* For popup state */

#biasPanel {
    text-align: center;
    background-color: lighten($bg1, 15);
    padding: 10px;
    height: 300px;
    width: 600px;
    h1 {
        font-size: 2em;
        font-family: modern;
        color: $heading2;
    }
    .source_bias_meter {
        padding: 0 25px;
        margin: 5px auto;
        background-color: $bg1;
        border-radius: 8px;
        width: 470px;
        height: 125px;
        .hor_line {
            @include line(50%,
            0,
            3px,
            'horizontal');
            background-color: $bg2;
        }
        .bias_message {
            position: relative;
            top: 50%;
            color: $heading1;
            font-size: 1.5em;
            width: 100px;
        }
    }
}