/* To transpile to css, run
sass scss/page.scss css/page.css --no-source-map --watch
*/
/* Coolors Exported Palette - coolors.co/000000-16366b-d3c9c9-ddb520-ffffff */
/* RGB */
@font-face {
  font-family: modern;
  src: url("../../shared/fonts/majormonodisplay.ttf");
}
@font-face {
  font-family: quicksand;
  src: url("../../shared/fonts/quicksand.ttf");
}
#mainPopup {
  padding: 10px;
  height: 200px;
  width: 400px;
}

h1 {
  font-size: 2em;
  font-family: modern;
}

p {
  font-family: quicksand;
}
